section.wrapper.style1 {
    background-color: #3a3749;
}

.button.special {
    background-color: #3a3749;
}

section.wrapper.style1 header p {
    color: rgba(255, 255, 255, 0.55);
}

a.icon {
    color: #3a3749;
}

#banner {
    border-top: 0em;
}

.subpage #header {
    background: #3a3749;
}
.bannertitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit;
    color: #6b6b6b;
}


#navPanel {
    background: #3a3749;
}

#header a {
    font-weight: 600;
    font-family: inherit;
}
