{% extends "baseinfo.html" %}
{% block description %}Subgroup dedicated to observational astronomy and satellite tracking{% endblock %}
{% block title %}Astrodynamics{% endblock %}
{% block content %}
<section id="three" class="wrapper">
		<div class="inner">
				<header class="align-center">
						<h2>Astrodynamics</h2>
				</header>
        <p>
          The astrodynamics team is responsible for developing the expertise and techniques for tracking fast moving Low-Earth Orbit(LEO) objects. We use optical telescopes to record LEO object orbital elements then use that data with Orbital Simulation software to model their orbits over time.
        </p>
        <br />
        <h3>Telescopes</h3>
        <p>
          We have two telescopes provided through the Provost's Learning Innovations Grant. Our primary scope is the Meade LX200-ACF GPS 12" reflector telescope. We also use a 80mm refractor scope as a spotting scope mounted coaxially to the LX200. We are also acquiring an equatorial mounted scope. This would be lower power but would simplify observations of slow moving objects. It would also be ideal for community outreach events since it is easier to use.
          The LX200-ACF GPS is ideal for satellite tracking applications. We require a high tracking speed to keep up with fast moving objects and cubesats have a very low apparent magnitude.
          The 80mm refractor is a good complement to the main scope. Its wide field of view makes acquiring targets easier than through the main scope and it is powerful enough to be used for observations separately.
        </p>
        <br />
        <h3>Sensors</h3>
        <p>
          We have 3 imaging sensors that we use for observations
          Our primary sensor is a Canon EOS Rebel SL1 DSLR. We chose this sensor because of its relatively low weight and slim profile compared to other DSLRs. This allows for unrestricted movement of the telescope while the sensor is attached. The sensor is operated remotely via a computer connected with USB. We are currently using Canon's proprietary software for controlling the sensor.
          Our secondary sensor is the Orion Starshoot Solar System Color Imaging Camera IV. This CMOS sensor is lightweight and has a slim profile allowing it to be integrated on every scope we have. It is designed to be used for astrophotography and features an integrated 1.25" adapter.
          Our tertiary sensor is an old Logitech webcam. It was initially designed for video chat but we have modified it to be used for astrophotography purposes. We are currently acquiring a 12mm to 1.25" adapter to mount the sensor with our scopes.
        </p>
		</div>
</section>
{% endblock %}
