<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{% block title %}Base{% endblock %}</title>
		<meta name="description" content="{% block description %}RIT Space Exploration is a student/faculty research group at the Rochester Institute of Technology. SPEX has a primary goal of working on space-related projects and learning more about space exploration.{% endblock %}" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet" />
    <link rel="shortcut icon"  href="{{ url_for('static', filename='images/icon.ico') }}" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87920348-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());

		gtag('config', 'UA-87920348-1');
	</script>

	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src = "{{ url_for('static', filename='images/48.png') }}" width = "48" height = "48" alt = "SPEX LOGO"/><p id = "homeText">SPEX</p></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/cubesat/">CubeSat</a>
						<a href="/hab/">HAB</a>
						<a href="/astrodynamics/">Astrodynamics</a>
						<a href="/spexcast/">SPEXcast</a>
                        <a href="/ourteam/">Our Team</a>
                        <a href="/calendar/">Calendar</a>
						<a href="/getInvolved/">Get Involved</a>
						<a href="/sponsors/">Sponsors</a>
						<a href="/donate/">Donate Now!</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

      {% block content %}
    {% endblock %}
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<ul class="icons">
              <li><a href="https://github.com/RIT-Space-Exploration" class="icon fa-github-alt"><span class="label" >Github</span></a></li>
	 					  <li><a href="https://www.facebook.com/ritspex/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						  <li><a href="https://twitter.com/ritspex" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						  <li><a href="https://wiki.rit.edu/display/SPEX/SPEX+Wiki+Home" class="icon fa-wikipedia-w"><span class="label">Wiki</span></a></li>
						</ul>
					</div>
				</div>
				Template: Theory by TEMPLATED
			</footer>

		<!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
