<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{% block title %}Base{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet" />
    <link rel="shortcut icon"  href="{{ url_for('static', filename='images/icon.ico') }}" />

	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">SPEX</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/cubesat/">CubeSat</a>
						<a href="/hab/">HAB</a>
						<a href="/spexcast/">SPEXCast</a>
						<a href="#">Sponsors</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

      {% block content %}
    {% endblock %}
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
	 					  <li><a href="https://www.facebook.com/ritspex/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						  <li><a href="https://twitter.com/ritspex" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						  <li><a href="https://wiki.rit.edu/display/SPEX/SPEX+Wiki+Home" class="icon fa-wikipedia-w"><span class="label">Wiki</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
