{% extends "baseinfo.html" %}
{% block description %}Calendar{% endblock %}
{% block title %}Calendar{% endblock %}
{% block content %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <section id="three" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>Calendar</h2>
            </header>
            <!-- embed using iframe -->
            <div class="align-center">
                <iframe src="https://calendar.google.com/calendar/embed?src=spex.rit%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </section>
{% endblock %}
