{% extends "baseinfo.html" %}
{% block content %}


			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>CubeSat</h2>
					</header>
          <p>I miss the old Harambe. Straight from the zoo Harambe. Eating his food Harambe. No attitude Harambe. I hate the new Harambe. Shot by a dude Harambe. The Youtube views Harambe. Up in the news Harambe. I miss the sweet Harambe. Playing with kids Harambe. I gotta say at that time I'd like to meet Harambe. See I invented Harambe. It wasnt any Harambes. And now i look and look around and there's no more Harambes. I used to love Harambe. I used to love Harambe. I even had the silverback I thought I was Harambe. What if Harambe made a song about Harambe. Called "I miss the old Harambe", man that would be so Harambe. That's all it was Harambe. We still love Harambe. And I love you like Harambe loves toddlers.</p>
				</div>
			</section>



<section id="one" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
	  <article class="indexbox">
		<header>
		  <h3>Propulsion</h3>
		</header>
        <p>Here we have a bit of information on the Harambe Subsystem. Hopefully we can put a bit of a little nice graphic here for the subsystem.</p>
      </article>
	  <article class="indexbox">
	    <header>
		  <h3>Avionics</h3>
		</header>
        <p>Here we have a bit of information on the Harambe Subsystem. Hopefully we can put a bit of a little nice graphic here for the subsystem.</p>
	  </article>
	  <article class="indexbox">
		<header>
		  <h3>ADCS</h3>
		</header>
        <p>Here we have a bit of information on the Harambe Subsystem. Hopefully we can put a bit of a little nice graphic here for the subsystem.</p>
	  </article>
	</div>
  </div>
</section>

<section id="one" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
	  <article class="indexbox">
		<header>
		  <h3>Power</h3>
		</header>
        <p>Here we have a bit of information on the Harambe Subsystem. Hopefully we can put a bit of a little nice graphic here for the subsystem.</p>
      </article>
	  <article class="indexbox">
	    <header>
		  <h3>Communications</h3>
		</header>
        <p>Here we have a bit of information on the Harambe Subsystem. Hopefully we can put a bit of a little nice graphic here for the subsystem.</p>
	  </article>
	  <article class="indexbox">
		<header>
		  <h3>Structures and Thermals</h3>
		</header>
        <p>Here we have a bit of information on the Harambe Subsystem. Hopefully we can put a bit of a little nice graphic here for the subsystem.</p>
	  </article>
	</div>
  </div>
</section
{% endblock %}
