{% extends "baseinfo.html" %}
{% block description %}RIT SPEX's primary project is creating a cubesat to put into Low Earth Orbit (LEO).{% endblock %}
{% block title %}SPEX CubeSat{% endblock %}
{% block content %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>CubeSat</h2>
					</header>
					<p><b>What is a CubeSat?</b> A 
					<a href="https://en.wikipedia.org/wiki/CubeSat">CubeSat</a> is type
					of satellite, commonly classified as a "smallsat" or "picosatellite".
					They provide an opportunity for smaller groups and student
					organizations to be able to afford to send their own mission into
					orbit.  CubeSats are commonly one or more 10x10x11.35 (1U) units.
					Compared to their larger counterparts, picosatellites tend to have
					smaller domains of focus due to size and weight restrictions.</p>

					<p>SPEX is currently in the design and planning phase, preparing a
						proposal for the
						<a href="https://www.nasa.gov/content/about-cubesat-launch-initiative">
						NASA CubeSat Launch Initiative
						</a>
						(CSLI). The CSLI grants accepted groups a launch into orbit for
						their CubeSat. Many schools and organizations have already taken
						advantage of this unique opportunity.
					</p>
				</div>
			</section>



<section id="one" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
	  <article class="indexbox">
		<header>
		  <h3>LED Payload</h3>
		</header>
    <p>An onboard LED will flash to allow for atmospheric spectroscopy data to be gathered for analyzing the gases of Earth's atmosphere.</p>
      </article>
	  <article class="indexbox">
	    <header>
		  <h3>Avionics</h3>
		</header>
      <p>Avionics serves as the brain of the satellite; it handles the vast majority of processing on board. </p>
	  </article>
	  <article class="indexbox">
		<header>
		  <h3>ADCS</h3>
		</header>
    <p>ADCS's role is to determine the attitude of the satellite along with controlling the attitude to meet the requirements of other subsystems.</p>
	  </article>
	</div>
  </div>
</section>

<section id="one" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
	  <article class="indexbox">
		<header>
		  <h3>Power</h3>
		</header>
			<p>Power is the main electrical subsystem, with the job of managing, creating, storing and distributing power to the rest of the satellite.</p>
      </article>
	  <article class="indexbox">
	    <header>
		  <h3>Communications</h3>
		</header>
			<p>Communications is SPEX's link between the satellite and Earth, recieving data and reporting telemetry information back down to Earth.</p>
	  </article>
	  <article class="indexbox">
		<header>
		  <h3>Structures and Thermals</h3>
		</header>
			<p>Structures and Thermals manages the chasis, space constraints, and  thermal dissipation of the satellite's hardware.</p>
	  </article>
	</div>
  </div>
</section
{% endblock %}
