{% extends "baseinfo.html" %}
{% block content %}


		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>High Altitude Balloon</h2>
						<p>Quick to develop testbed</p>
					</header>
          <p> The SPEX High Altitude Balloon project/group allows for a unique opportunity to test things~ for our Cubesat. </p>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="images/pic01.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Hab 2</h3>
							</header>
              <p> We did cool things with Hab 2 </p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="images/pic02.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Hab 1</h3>
							</header>
              <p> Never forget </p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>


{% endblock %}
