{% extends "baseinfo.html" %}
{% block description %}HAB (High Altitude Balloon) is a subgroup of RIT SPEX that launches HABs once a semester.  These balloons provide a platform to test projects in a near space environment.{% endblock %}
{% block title %}
SPEX HAB
{% endblock %}
{% block content %}

<section id="buttonbanner" class="wrapper">
    <a href="/statistics/">
    <div class="inner wset align-center">
        <p id="linktext">Statistics and Orientation WIP</p>
    </div>
    </a>
</section>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner wset">
					<header class="align-center">
						<h2>High Altitude Balloon</h2>
						<p>A quick-to-develop testbed</p>
					</header>
          <p> The SPEX High Altitude Balloon (HAB) project/group allows for a unique opportunity to
              conduct experiments for our Cubesat in a near space-like environment. HABs typically
              reach an attitude of approximately 30,000 meters (about 100,000 feet). SPEX HAB has
              launched three previous balloons, designated as HAB I Hab II and HAB III.
          </p>
          <p> The relative low cost and fast turn around of HABs provides a great way for SPEX
              members to gain hands-on experience in a field they are interested in. Examples of this
              are design flight software, flight hardware, payload bus, and other payload concepts.
          </p>
				</div>
      </section>

      <section id="three" class="wrapper">
        <div class="inner wset">
          <header class="align-center">
            <h2> HAB III </h2>
          </header>
          <p>On December 3rd, 2017, RIT SPEX launched our third balloon, HAB3. Unlike previous launches, there
              was no third-party payload on-board. The main objectives were to test telemetry gathering done by
              in-house designed software and hardware and to record pressure/temperature data both inside the
              balloon and inside the bus box. This HAB launch was also used to test a new boom-mount for the
              GoPro Hero 3 camera that would record the flight. A 3rd Party APRS module transmits GPS and
              telemetry data such as battery voltage and temperature on-board.
          </p>

            <p>Launch conditions were mild winds, borderline freezing temperatures, and a mixture of snow and rain.
              Like the previous two HAB launches, HAB3 was prepared and released in a parking lot in front of RIT’s
              campus.  After launching, using the on-board APRS transmitter, we tracked our balloon on  <a href="https://www.aprs.fi">aprs.fi</a>.
              The balloon took off east, hitting approximately 155 mph for a maximum velocity.  At about 65,000ft
              of altitude, about 10 miles North of Ithaca over lake Cayuga, the last gps transmission was received.
              The location of the HAB was unknown after this.
          </p>

          <p>Using http://predict.habhub.org/, with data from our previous HAB II launch, the team expected
              the payload box to land in the general Cortland, NY area. Three days later a farmer in Marathon,
              NY called the number written on the side of the payload. The HAB had landed in a cow pasture
              fortunately  where it would be found and played with by a group of cows.
          </p>

          <p>A quick inspection of the HAB revealed that the cause for loss of communications was a lead
              connection the battery to the APRS transmitter had broken off, causing the board to lose power.
              In addition to loss of radio communication, the GoPro on the boom secured with epoxy and anchored by
              fishing line, had fallen off.
          </p>

          <h3>What we have learned from this</h3>

          <p>Radio/Battery: Two main things we can improve on. One is a redundant gps reporting radio system.
              Losing radio transmissions was incredibly mission threatening. We were lucky that it landed in a
              farm and it was relatively quickly reported too.  A redundant radio would allow for backup and
              much greater increased odds of total location loss.  As for the battery connections, we will
              seek much sturdier ways of securing the battery and forming the connection.\
          </p>

          <p>GoPro/Camera: For next launches, we are looking into the concept of embedded the camera inside
              the payload box. The camera would peak through a port cut into the side of the box walls.
              Also, cheaper alternatives will also be looked into for less risk factor to launches.
          </p>

        </div>
      </section>

    <div class="align-center">
        <img class="img-rounded" src="{{ url_for('static', filename='images/hab3launch.jpg') }}" alt="Hab3">
    </div>

      <section id="three" class="wrapper" >
          <div class="inner wset" >
              <header class="align-center" >
                  <h2>HAB II - Icarus</h2>
              </header>
                  <p>HAB II was launched on May 8th, 2016 from the North side of RIT's campus. The main
                      payload of the HAB was testing a Senior Design Project for Anthony Hennig.
                      The basis of the project was a deployment system of spring hinged solar panels on a CubeSat.
                  </p>

                  <p>After launch, the HAB team retreated to observe
                      <a href="https://en.wikipedia.org/wiki/Automatic_Packet_Reporting_System">
                          APRS </a> reports on the location and altitude of HAB II. After reaching
                      an altitude of approximately 29,500m, the balloon burst, starting the descent back to Earth's surface.
                      HAB II utilized a parachute deployed between the balloon and payload, activated by wind resistance when
                      falling. 
                  </p>
              <div class="align-center" >
                  <iframe width="854" height="480" src="https://www.youtube.com/embed/U40UZp3Z3a4" frameborder="0" id="habroch" allowfullscreen></iframe>
                  <figcaption>Video of HAB II launch up until camera failure at an estimated 18,500m.</figcaption>
              </div>
          </div>
      </section>

      <section id="three"  class="wrapper" >
        <div class="align-center" >
            <img class="img-rounded" src="{{ url_for('static', filename='images/habrochester.jpg') }}" alt="Habroch">
          <figcaption>Still shot from HAB II looking over Rochester, NY and Lake Ontario</figcaption>
        </div>
      </section>

      <section id="three" class="wrapper" >
          <div class="inner wset" >
              <header class="align-center" >
                  <h2>HAB I</h2>
              </header>
              <p>The group first began work on the project during the fall of 2015 as an initiative
                  to get undergraduates working with real flight-components. Launching the first balloon
                  required the team to overcome a series of hurdles, the first of which is funding.
                  Through one our advisors we were able to use leftover money from RIT’s
                  <a href="http://www.rit.edu/kgcoe/electrical/meteor/meteor/Home.html">Project METEOR</a>.
                  This project, which ran during the early 2000’s, was developing a system to place
                  lightweight satellites into low earth orbit by launching a small rocket off a high altitude
                  balloon from an altitude greater than 80,000 feet. This project shutdown after one of the
                  lead advisers left RIT. Funding from that program was able to kick start our project, but
                  we were also able to raise over $2,500 through our own crowdfunding campaign in December 2015.
              </p>
              <p>
                  The flight camera was a GoPro Hero 3+ with the standard waterproof case. The camera was set to
                  take a photograph every ten seconds and store it on a 32 GB SD Card. 671 photos were taken, so
                  the camera lasted approximately two hours before the battery died. The camera was mounted
                  sideways in the cooler with a wooden chopstick holding it into the styrofoam. A hand warmer
                  was placed on the outside of the case to keep the battery warm.
              </p>
              <p><b>Launch Date:</b>  2015-10-25<br>
                  <b>Launch Location:</b> Rochester, New York<br>
                  <b>Landing Location:</b> Windham, Maine<br>
                  <b>Recovery:</b> 2015-12-7<br>
                  <b>Burst Altitude:</b> 30242 meters (99220 feet)<br>
                  <b>Top Speed:</b> 65 m/s (145 mph)<br>
                  <b>Flight Duration:</b> ~5.5 hours<br>
                  <b>Flight Distance:</b> ~645km (~400mi)</p>
              </p>
              
              <div class="align-center" >
                <iframe width="854" height="480" src="https://www.youtube.com/embed/BZgZUZLJZE4" frameborder="0" id="habroch" allowfullscreen></iframe>
              </div>
          </div>
      </section>

      <section id="three" class="wrapper" >
              <div class="align-center" >
                  <center><img class="img-rounded" src="{{ url_for('static', filename='images/haboneteam.jpg') }}" alt="HabTeam"></center>
              </div>
      </section>

{% endblock %}
