{% extends "baseinfo.html" %}
{% block content %}


		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>High Altitude Balloon</h2>
						<p>Quick to develop testbed</p>
					</header>
          <p> The SPEX High Altitude Balloon project/group allows for a unique opportunity to test things~ for our Cubesat. </p>
				</div>
      </section>

      <section id="three" class="wrapper" >
          <div class="inner" >
              <header class="align-center" >
                  <h2>HAB II</h2>
              </header>
              <div class="align-center" >
                  <p> Mission description filler text for Hab 2 launch</p>
                  <iframe width="854" height="480" src="https://www.youtube.com/embed/U40UZp3Z3a4" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
      </section>



{% endblock %}
