<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>SPEX</title>
		<meta name="description" content="RIT Space Exploration is a student/faculty research group at the Rochester Institute of Technology. SPEX has a primary goal of working on space-related projects and learning more about space exploration." />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.0/milligram.min.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet" />		
    <link rel="shortcut icon"  href="{{ url_for('static', filename='images/icon.ico') }}" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87920348-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments)};
		gtag('js', new Date());

		gtag('config', 'UA-87920348-1');
</script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><img src = "{{ url_for('static', filename='images/48.png') }}" width = "48" height = "48" alt = "SPEX LOGO"/><p id = "homeText">SPEX</p></a>
					<nav id="nav" class="mainnav">
						<a href="/">Home</a>
						<a href="/cubesat/">CubeSat</a>
						<a href="/hab/">HAB</a>
						<a href="/astrodynamics/">Astrodynamics</a>
						<a href="/spexcast/">SPEXcast</a>
						<a href="/getInvolved/">Get Involved</a>
						<a href="/sponsors/">Sponsors</a>
						<a href="/donate/">Donate Now!</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1 class="bannertitle">RIT Space Exploration</h1>
				<p>A Student-faculty research group at the Rochester Institute of Technology</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article class="indexbox">
							<header>
								  <a href="/cubesat/" id="midlink"><h3>CubeSat</h3></a>
							</header>
							<p>NASA's CubeSat Launch Initiative grants undergrad groups like SPEX to be able to work on and develop picosatellites. SPEX is currently in the design and planning phase of our mission.</p>
							<img src="{{ url_for('static', filename='images/designreview.jpg') }}" id="indexphoto">
						</article>
						<article class="indexbox">
							<header>
								  <a href="/hab/" id="midlink"><h3>High Altitude Balloon</h3></a>
							</header>
							<p>HAB allows for the unique opportunity of testing CubeSat technologies in near space-like environments. With launches planned for every semester, HAB is a great way for students to get involved.</p>
							<img src="{{ url_for('static', filename='images/habheight.jpg')}}" id="indexphoto">
						</article>
						<article class="indexbox">
							<header>
								  <a href="/spexcast/" id="midlink"><h3>SPEXcast</h3></a>
							</header>
							<p>A discussion podcast on the science and technology of space exploration, featuring interviews with experts and industry professionals within the space community.</p>
							<img src="{{ url_for('static', filename='images/spexcastlogo.jpg')}}" id="indexphoto">
						</article>
						<article class="indexbox">
								<header>
										<a href="/astrodynamics/" id="midlink"><h3>Astrodynamics</h3></a>
								</header>
								<p>SPEX Astrodynamics team uses professional equipment to observe and track artifical satellites right from campus.</p>
								<img src="{{ url_for('static', filename='images/moonshot.jpg')}}" id="indexphoto">
							</article>
							<article class="indexbox">
									<header>
											<a href="https://github.com/RIT-Space-Exploration" id="midlink"><h3>SPEX Github</h3></a>
									</header>
									<p>Check out SPEX's github organization. We keep the software and some hardware designs stored and available through public repositories.</p>
									<img src="{{ url_for('static', filename='images/github_icon.png')}}" id="indexphoto">
								</article>
						<article class="indexbox">
							<header>
									<a href="https://twitter.com/ritspex" id="midlink"><h3>Follow us on Twitter</h3></a>
							</header>
							<div class="homepage-twitter">
								<a class="twitter-timeline" href="https://twitter.com/RITSPEX">Tweets by RITSPEX</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>								
							</div>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner" id="pan">
					<header>
						<h2>The SPEX team</h2>
						<p>The ones who make what we do possible</p>
					</header>
					<img src="{{ url_for('static', filename='images/imagineRIT2017.jpg')}}" alt="Image of the SPEX team" id='philphace'>
				</div>
			</section>



      <section id="three" class="wrapper" >
          <div class="inner wset" >
              <div class="align-center" >
                <h2> Contact SPEX! </h2>
              </div>
              <form action="https://formspree.io/spex.rit@gmail.com"
                    method="POST">
                  <input type="text" name="name" placeholder="Name">
                  <input type="email" name="_replyto" placeholder="E-mail" >
                  <input type="text" name="_gotcha" style="display:none" />
                  <textarea name="message" placeholder="Your message" ></textarea>
                  <input type="submit" value="Send">
              </form>
          </div>
      </section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<ul class="icons">
              <li><a href="https://github.com/RIT-Space-Exploration" class="icon fa-github-alt"><span class="label" >Github</span></a></li>
							<li><a href="https://www.facebook.com/ritspex/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://twitter.com/ritspex" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://wiki.rit.edu/display/SPEX/SPEX+Wiki+Home" class="icon fa-wikipedia-w"><span class="label">Wiki</span></a></li>
						</ul>
					</div>
				</div>
				Template: Theory by TEMPLATED
			</footer>

		<!-- Scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
