<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>SPEX</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <link rel="shortcut icon"  href="{{ url_for('static', filename='images/icon.ico') }}" />

	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">SPEX</a>
					<nav id="nav" class="mainnav">
						<a href="/">Home</a>
						<a href="/cubesat/">CubeSat</a>
						<a href="/hab/">HAB</a>
						<a href="/spexcast/">SPEXCast</a>
						<a href="/sponsors/">Sponsors</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1 class="bannertitle">RIT Space Exploration</h1>
				<p>A Student-faculty research group at Rochester Institute of Technology</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article class="indexbox">
							<header>
								  <a href="/cubesat/" id="midlink"><h3>CubeSat</h3></a>
							</header>
							<p>NASA's CubeSat Launch Initiative grants undergrad groups like SPEX to be able to work on and develop picosatellites. SPEX is currently in the design and planning phase of our mission.</p>
							<img src="{{ url_for('static', filename='images/designreview.jpg') }}" id="indexphoto">
						</article>
						<article class="indexbox">
							<header>
								  <a href="/hab/" id="midlink"><h3>High Altitude Balloon</h3></a>
							</header>
							<p>HAB allows for the unique opportunity of testing CubeSat technologies in near space-like environments. With launches planned for every semester, HAB is a great way for students to get involved.</p>
							<img src="{{ url_for('static', filename='images/habheight.jpg')}}" id="indexphoto">
						</article>
						<article class="indexbox">
							<header>
								  <a href="/spexcast/" id="midlink"><h3>SPEXCast</h3></a>
							</header>
							<p>A discussion podcast on the science and technology of space exploration, featuring interviews with experts and industry professionals within the space community.</p>
							<img src="{{ url_for('static', filename='images/spexcastlogo.jpg')}}" id="indexphoto">
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner" id="pan">
					<header>
						<h2>The SPEX team</h2>
						<p>The ones who make what we do possible</p>
					</header>
					<img src="{{ url_for('static', filename='images/philphace.jpg')}}" alt="Image of the SPEX team" id='philphace'>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<ul class="icons">
              <li><a href="https://github.com/RIT-Space-Exploration" class="icon fa-github-alt"><span class="label" >Github</span></a></li>
							<li><a href="https://www.facebook.com/ritspex/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://twitter.com/ritspex" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://wiki.rit.edu/display/SPEX/SPEX+Wiki+Home" class="icon fa-wikipedia-w"><span class="label">Wiki</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
