{% extends "baseinfo.html" %}
{% block description %}{% endblock %}
{% block title %}About Us{% endblock %}
{% block content %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <section id="three" class="wrapper">
        <div class="container" style="align-content: center">

            <header class="align-center">
                <h3>Our Student Leadership</h3>
            </header>

            <div class="row">

                <!-- Spacer -->
                <div class="col-md-1">
                    <p></p>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-circle" src="{{ url_for('static', filename='images/headshots/Parkus-James.png') }}" alt="Student Director" style="width:100%">
                            <div class="caption" style="text-align: center">
                                <h4>James Parkus</h4>
                                <p>Student Director</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-circle" src="{{ url_for('static', filename='images/headshots/Placeholder.png') }}" alt="Deputy Director" style="width:100%">
                            <div class="caption" style="text-align: center">
                                <h4>Amber Dubill</h4>
                                <p>Deputy Director</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-circle" src="{{ url_for('static', filename='images/headshots/Pape-Chris.png') }}" alt="Technical Coordinator" style="width:100%">
                            <div class="caption" style="text-align: center">
                                <h4>Chris Pape</h4>
                                <p>Technical Coordinator</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-circle" src="{{ url_for('static', filename='images/headshots/Putnam-Evan.png') }}" alt="Treasurer" style="width:100%">
                            <div class="caption" style="text-align: center">
                                <h4>Evan Putnam</h4>
                                <p>Treasurer</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-circle" src="{{ url_for('static', filename='images/headshots/Hall-Thomas.png') }}" alt="Director of Marketing" style="width:100%">
                            <div class="caption" style="text-align: center">
                                <h4>Thomas Hall</h4>
                                <p>Director of Marketing</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-12">
                    <header class="align-center">
                        <h3>Our Adviser Team</h3>
                    </header>
                </div>

                <!-- Spacer-->
                <div class="col-md-3">
                    <p></p>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-circle" src="{{ url_for('static', filename='images/headshots/Barbosu-Mihail.png') }}" alt="Adviser, College Of Science" style="width:100%">
                            <div class="caption" style="text-align: center">
                                <h4>Mihail Barbosu</h4>
                                <p>College of Science Adviser</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-circle" src="{{ url_for('static', filename='images/headshots/Connelly-Jennifer.png') }}" alt="Adviser, Astrophysical Science and Technology" style="width:100%">
                            <div class="caption" style="text-align: center">
                                <h4>Jennifer Connelly</h4>
                                <p>Astrophysical Science and Technology Adviser</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-circle" src="{{ url_for('static', filename='images/headshots/Patru-Dorin.png') }}" alt="Adviser, Kete Gleason College of Engineering" style="width:100%">
                            <div class="caption" style="text-align: center">
                                <h4>Dorian Patru</h4>
                                <p>Kate Gleason College of Engineering Adviser</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <header class="align-center">
                <br>
                <h2>The SPEX team</h2>
                <h6>The ones who make what we do possible</h6>
            </header>
            <img class="img-rounded" src="{{ url_for('static', filename='images/imagineRIT2017.jpg')}}" alt="Image of the SPEX team" id='philphace'>
        </div>
    </section>
{% endblock %}

