{% extends "baseinfo.html" %}
{% block description %}{% endblock %}
{% block title %}About Us{% endblock %}
{% block content %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <section id="three" class="wrapper">
        <div class="inner">

            <header class="align-center">
                <h2>About Us</h2>
            </header>

            <h3>Our Student Leadership</h3>
            <br>

            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/w3images/lights.jpg">
                            <img src="/w3images/lights.jpg" alt="Director" style="width:100%">
                            <div class="caption">
                                <p>James Parkus</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/w3images/nature.jpg">
                            <img src="/w3images/nature.jpg" alt="Deputy Director" style="width:100%">
                            <div class="caption">
                                <p>Amber Dubill</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/w3images/lights.jpg">
                            <img src="/w3images/lights.jpg" alt="Director" style="width:100%">
                            <div class="caption">
                                <p>James Parkus</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/w3images/nature.jpg">
                            <img src="/w3images/nature.jpg" alt="Deputy Director" style="width:100%">
                            <div class="caption">
                                <p>Amber Dubill</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/w3images/lights.jpg">
                            <img src="/w3images/lights.jpg" alt="Director" style="width:100%">
                            <div class="caption">
                                <p>James Parkus</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="/w3images/nature.jpg">
                            <img src="/w3images/nature.jpg" alt="Deputy Director" style="width:100%">
                            <div class="caption">
                                <p>Amber Dubill</p>
                            </div>
                        </a>
                    </div>
                </div>

                <h3>Our Adviser Team</h3>
                <br>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="/w3images/fjords.jpg">
                            <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
                            <div class="caption">
                                <p>Lorem ipsum...</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

