{% extends "baseinfo.html" %}
{% block description %}SPEXcast is a weekly podcast diving into a variety of space topics.{% endblock %}
{% block title %}SPEXcast{% endblock %}
{% block content %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<section id="three" class="wrapper">
		<div class="inner">
				<header class="align-center">
						<h2>SPEXcast</h2>
				</header>
        <p> SPEXcast is a weekly podcast diving into a variety of space topics. We are a group of Rochester Institute of Technology (RIT) students that are excited about space and space exploration. Come with us as we discuss the cutting edge of spacecraft engineering, potential future missions to outer space, and exciting scientific discoveries in the field of astrophysics.</p>
		</div>
</section>

<div class="align-center" >
<a href="https://geo.itunes.apple.com/us/podcast/spexcast/id1089397071?mt=2" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:165px;height:40px;"></a>
</div>
{% endblock %}
